section.about
  .flex.flex--center
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere faucibus sapien, sed aliquet dui rutrum vel. Donec id justo in orci porttitor euismod ut pharetra felis. Morbi mollis, nulla ut pellentesque commodo, lacus lectus efficitur ante, at ultrices tortor purus ac orci. Nulla tellus nisl, ullamcorper ac lorem nec, pretium scelerisque tortor. Etiam ut auctor velit. Pellentesque hendrerit libero et justo eleifend, at egestas leo posuere. Duis efficitur interdum hendrerit.
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere faucibus sapien, sed aliquet dui rutrum vel. Donec id justo in orci porttitor euismod ut pharetra felis. Morbi mollis, nulla ut pellentesque commodo, lacus lectus efficitur ante, at ultrices tortor purus ac orci. Nulla tellus nisl, ullamcorper ac lorem nec, pretium scelerisque tortor. Etiam ut auctor velit. Pellentesque hendrerit libero et justo eleifend, at egestas leo posuere. Duis efficitur interdum hendrerit.

section.youtube
  .flex.flex--space-around
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere faucibus sapien, sed aliquet dui rutrum vel. Donec id justo in orci porttitor euismod ut pharetra felis. Morbi mollis, nulla ut pellentesque commodo, lacus lectus efficitur ante, at ultrices tortor purus ac orci. Nulla tellus nisl, ullamcorper ac lorem nec, pretium scelerisque tortor. Etiam ut auctor velit. Pellentesque hendrerit libero et justo eleifend, at egestas leo posuere. Duis efficitur interdum hendrerit.
    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere faucibus sapien, sed aliquet dui rutrum vel. Donec id justo in orci porttitor euismod ut pharetra felis. Morbi mollis, nulla ut pellentesque commodo, lacus lectus efficitur ante, at ultrices tortor purus ac orci. Nulla tellus nisl, ullamcorper ac lorem nec, pretium scelerisque tortor. Etiam ut auctor velit. Pellentesque hendrerit libero et justo eleifend, at egestas leo posuere. Duis efficitur interdum hendrerit.

section.three
  .flex.flex--center
    .col-2
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere faucibus sapien, sed aliquet dui rutrum vel. Donec id justo in orci porttitor euismod ut pharetra felis. Morbi mollis, nulla ut pellentesque commodo, lacus lectus efficitur ante, at ultrices tortor purus ac orci. Nulla tellus nisl, ullamcorper ac lorem nec, pretium scelerisque tortor. Etiam ut auctor velit. Pellentesque hendrerit libero et justo eleifend, at egestas leo posuere. Duis efficitur interdum hendrerit.

section.four
  .flex.flex--center
    .col-half.flex.flex--center
      .col-1
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere faucibus sapien, sed aliquet dui rutrum vel. Donec id justo in orci porttitor euismod ut pharetra felis. Morbi mollis, nulla ut pellentesque commodo, lacus lectus efficitur ante, at ultrices tortor purus ac orci. Nulla tellus nisl, ullamcorper ac lorem nec, pretium scelerisque tortor. Etiam ut auctor velit. Pellentesque hendrerit libero et justo eleifend, at egestas leo posuere. Duis efficitur interdum hendrerit.
    .col-half
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere faucibus sapien, sed aliquet dui rutrum vel. Donec id justo in orci porttitor euismod ut pharetra felis. Morbi mollis, nulla ut pellentesque commodo, lacus lectus efficitur ante, at ultrices tortor purus ac orci. Nulla tellus nisl, ullamcorper ac lorem nec, pretium scelerisque tortor. Etiam ut auctor velit. Pellentesque hendrerit libero et justo eleifend, at egestas leo posuere. Duis efficitur interdum hendrerit.
