mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#about") Link 2
    li: a(href="#about") Link 3
    li: a(href="#about") Link 4
    li: a(href="#about") Link 5

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Ethan Puzarne

    nav.site-nav
      +nav-content()

    a(href="mailto:myemail@gmail.com").email-link email me

    .mobile-nav-toggle: span
